{% extends 'theblog/base.html' %}
{% block title%}Home Page{% endblock %}
{% block content %}

<div class="container">
	<div class="mx-auto" style="width: 600px;">
	<h1 class="mt-4">Adding Post</h1>

		<div class="form-group">
			<form method="POST">{% csrf_token %}
				{{ form.as_p }}
			<button class="btn btn-primary">Add</button>
			</form>
			<script type="text/javascript">
				var name = "{{ user.id }}";
				document.getElementById("elder").value = name;

			</script>
		</div>
	</div>
</div>
	
	
	
{% endblock %}	
</body>
</html>