{% extends 'theblog/base.html' %}
{% block title%}Detail Page{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
	<ul>
		
			<li>Category : {{ post.category }}</li>
			<ul>
				<li><h3>Post title: {{ post.title }}</h3></li><hr>
				<li>Post body: {{ post.body }}</li><hr>
				<li>Post Author: {{ post.author.first_name }} {{ post.author.last_name }}</li>
			</ul>
			<div class="mt-3">
				<a href="{% url 'theblog:update-post' post.pk %}" class="card-link">Edit</a>
				<a href="{% url 'theblog:delete-post' post.pk %}" class="card-link colorred">Delete</a>
			</div>
			
	</ul>
	{% else %}
	<h2>Please login to do that.</h2>
	{% endif %}

{% endblock %}	
</body>
</html>