{% extends 'theblog/base.html' %}
{% block title%}Detail Page{% endblock %}
{% block content %}

	

<div class="card">
  <h5 class="card-header">Category : {{ post.category }} (Likes: {{ total_likes }})</h5>
  <div class="card-body">
    <h5 class="card-title">Post title: {{ post.title }}</h5>
    <p class="card-text">Post body: {{ post.body }} </p>
    <p>Post Author: {{ post.author.first_name }} {{ post.author.last_name }}</p>
    {% if user.is_authenticated %}
	{% if user.id == post.author.id %}
		<form action="{% url 'theblog:like-post' post.pk %}" method="POST">
			{% csrf_token %}
			<button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
		</form>
		<a href="{% url 'theblog:update-post' post.pk %}" class="card-link btn btn-primary">Edit</a>
		<a href="{% url 'theblog:delete-post' post.pk %}" class="card-link btn btn-danger">Delete</a>
	{% endif %}
  </div>
</div>

	{% else %}
	<h2>Please login to do that.</h2>
	{% endif %}

{% endblock %}	
</body>
</html>